BigShoeCompany/src/Big.Shoe.Company/OrderImportValidation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BigShoeDataImport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Order" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="CustomerName" use="required"/>
								<xs:attribute name="CustomerEmail" use="required">
									 <xs:simpleType>  
										<xs:restriction base="xs:string">  
											<xs:pattern value="[^@]+@[^\.]+\..+"/> 
										</xs:restriction>  
									</xs:simpleType> 
								</xs:attribute>
								<xs:attribute name="Quantity" use="required">
									<xs:simpleType>  
										<xs:restriction base="xs:short">  
											<xs:pattern value="^[1-9]+[0-9]*000$"/> 
										</xs:restriction>  
									</xs:simpleType> 
								</xs:attribute>
								<xs:attribute type="xs:string" name="Notes" use="optional"/>
								<xs:attribute name="Size" use="required">
									<xs:simpleType>  
										<xs:restriction base="xs:float">  
											<xs:enumeration value="11.5" /> 
											<xs:enumeration value="12" /> 
											<xs:enumeration value="12.5" /> 
											<xs:enumeration value="13" /> 
											<xs:enumeration value="13.5" /> 
											<xs:enumeration value="14" /> 
											<xs:enumeration value="14.5" /> 
											<xs:enumeration value="15" />
										</xs:restriction>  
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute type="xs:date" name="DateRequired" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>